extends layout

block content
  h1= title

  ul
    each val in genre_list
      li
        a(href=val.url) #{val.name}
        if val.name==''
          span.text-primary #{val.name}
        else if val.name=='Science Fiction'
          span.text-primary #{val.name}
        else if val.name=='French Poetry'
          span.text-primary #{val.name}
    else
      li There are no genre.
